body {
    background-color: #121212;
    color: #ffffff;
}

.navbar, .footer {
    background-color: #1c1c1c;
}

.card {
    background-color: #1e1e1e;
    border-color: #333333;
}

    .card .card-title, .card .card-text {
        color: #ffffff;
    }

.btn-primary {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

    .btn-primary:hover {
        background-color: #5a5a5a;
        border-color: #5a5a5a;
    }

.pagination .page-item .page-link {
    background-color: #1c1c1c;
    color: #ffffff;
    border-color: #333333;
}

.pagination .page-item.active .page-link {
    background-color: #333333;
    border-color: #444444;
}

.checked {
    color: orange;
}
