@{
    ViewData["Title"] = "Error";
}

<h1>Error @ViewBag.StatusCode</h1>
<p>@ViewBag.ErrorMessage</p>
<a href="/">Go back to Home</a>

<div class="col-md-6">
    <img src="https://a0.anyrgb.com/pngimg/130/1486/bumblebee-the-movie-transformers-revenge-of-the-fallen-megatron-transformers-dark-of-the-moon-transformers-the-last-knight-transformers-age-of-extinction-autobot-optimus-prime-bumblebee.png" class="img-fluid" alt="Login Image">
</div>