@model TransformersShop.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@if (TempData["No"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["No"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

<div class="col-md-6">
    <img src="~/images/Bee.webp" class="img-fluid" alt="Login Image">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
